/*.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-inverse .nav-link:focus,
.navbar-inverse .nav-link:hover {
    color: #FFB200 !important;
}
.navbar-inverse {
    background: #020b26;
    //background-image: -webkit-linear-gradient(top,#5050DC 0,#0D0348 100%);
    //background-image: -o-linear-gradient(top,#5050DC 0,#0D0348 100%);
    //background-image: -webkit-gradient(linear,left top,left bottom,from(#5050DC),to(#0D0348));
    //background-image: linear-gradient(to bottom,#5050DC 0,#0D0348 100%);
}*/
.wid-heig-log{
	width: 40px;
	height: 40px;
}
.brand{
	padding: 0;
/*    padding-left: 0px;*/
/*    padding-right: 0px;*/
    height: 50px; 
    width: 50px;
    background-image: url(/image/logo.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}
.cart {
	height: 50px; 
    width: 50px;
    background-image: url(/image/cart.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
/*.container-nav {
    max-width: 820px;
}*/
.carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(2, 11, 38, .0001) 0%, rgba(2, 11, 38, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(2, 11, 38, .0001) 0%, rgba(2, 11, 38, .5) 100%);
    background-image: linear-gradient(to right, rgba(2, 11, 38, .0001) 0%, rgba(2, 11, 38, .5) 100%);
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(2, 11, 38, .5) 0%, rgba(2, 11, 38, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(2, 11, 38, .5) 0%, rgba(2, 11, 38, .0001) 100%);
    background-image: linear-gradient(to right, rgba(2, 11, 38, .5) 0%, rgba(2, 11, 38, .0001) 100%);
}
.nav-link {
    //padding-bottom: 15px;
    padding: 15px 15px;
}
.nav-button {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 20px !important;
}
.nav-button:hover {
    background-color: #eb9316 !important;
}
.navbar {
    min-height: 0;
}
.text-al-c{
    text-align: center;
}
.col-gr{
    color: #040529;
}
.font-h1{
    font-family: 'Bookman Old Style', Times, serif;
    font-size: 30pt;
    text-shadow: 1px 1px 3px grey; 
}
.for-img{
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.carousel-img {
	width: 100%;
	min-height: 630px;
	background-repeat: no-repeat;
    background-size: cover;
}

.carousel-img1 {;
	background-image: url(/image/1.png);
}

.carousel-img2 {;
	background-image: url(/image/2.png);
}

.carousel-img3 {;
	background-image: url(/image/3.png);
}

.carousel-inner {
	min-height: 630px;
}
.text-al-c{
	text-align:center;
    position: relative;
}
.marg-nav{
	margin-top: 100px;
}
.max-wid-40pr{
	max-width: 40%;
}
.pad-r-5px{
	padding-right: 5px;
}
.bord-form{
	border: 4px ridge rgba(0, 0, 0, 0.07);
	border-radius: 10px;
}
.backgr-form{
	background: rgba(0, 0, 0, 0.07);
}
.marg-pad-form{
	margin: 0 250px;
	padding: 40px 0 20px 0;
}
.marg-t-30{
	margin-top: 30px;
}
.marg-t-50{
	margin-top: 50px;
}
.max-heig-img{
	max-height: 540px;
}
.color-h{
	color: #eb5e07;
}
.main-image{
    background-color: black;
    min-height: 477px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.page-header {
    margin: 20px 0 20px;
	border-bottom: 3px solid #000;
}
.cont, .navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
}
.brand-title {
    position: absolute;
    left: 20px;
    color: rgba(255, 255, 255, 0.49);
    font-size: 25px;
    line-height: 50px;
    text-shadow: rgba(255, 255, 255, 0.49) 0 0 5px;
    font-style: italic;
}
.brand-title:hover {
    color: rgba(255, 255, 255, 0.49);
    text-decoration: none;
}
.brand-title:focus {
    color: rgba(255, 255, 255, 0.49);
    text-decoration: none;
}
.nav-info {
    position: absolute;
    right: 20px;
}
.nav-info-item {
    margin-top: 5px;
    text-align: right;
}



/* Ниже приведены классы для новой версии сайта*/

body {
	background: url(../image/bg.jpg) fixed top center;
	background-size: cover;
	color: #414040;
    font-size: 10px;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

article {
	font-size: 1.3em;
}

.main-header{
	text-align: center;
	margin-top: 100px;
	text-shadow: 0 0 20px #B3B3B3;
	color:#181A36;
	font-weight: bold;
	margin-bottom: 1em;
}
.border-menu-element{
	border-left: 2px solid #808080;
	color: #808080;
	font-size: 14pt;
}
.navbar-inverse .navbar-nav>li>a {
    color: #CCCCCC;
}
.border-menu-element :nth-child(1){
	border-right: 2px solid #808080;
}
.navbar-inverse{
	background: rgba(34, 36, 38, 0.85) none repeat scroll 0 0;
}
.navbar-shadow { 
    box-shadow: 0 0 20px #fff; 
}
.navbar-inverse .nav-link:focus,
.navbar-inverse .nav-link:hover {
    color: #6E96A4 !important;
}
.footer-inf{
	text-align: center;
	color: #CCCCCC;
	font-size: 14pt;
}
.home-main-content{	
	min-height: 500px;
	background: rgba(255, 255, 255, 0.63) none repeat scroll 0px 0px;
	margin: 20px 30px 0 30px;
	border-radius: 7px;
	top: 200px;
	opacity: 0;
	position: relative;
	transition: top 0.7s ease-out, opacity 1s ease-out;
	/*transition: top 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 1s ease-out;*/
}
.promo-blok, .lending-blok, .personal-blok, .corporate-blok, .marketplace-blok{
	background: rgba(255, 255, 255, 0.63) none repeat scroll 0px 0px;
	border-radius: 7px;
	margin-top: 7%;
	padding-bottom: 1%;
}
.home-main-contaner{
	//max-width: 1600px;
	margin: auto;	
	width: 1160px;
}
.home-contaner-actions{
	min-height: 600px;
	min-width: 1350px;
	margin: auto;
}
.home-block-actions{
	margin: 0 3% 750px 3%;
}
.home-after-main-content{
	margin-bottom: 130px;
}
.home-actions{
	display: block;
	float: left;
	background: rgba(255, 255, 255, 0.43) none repeat scroll 0 0;
	border-radius: 7px; 
	min-height: 600px;
	width: 28%;
} 
.home-actions-centre{
	min-width: 300px;
}
.home-actions-first-last{
	min-width: 50px;
}
.home-action-first-second{
	margin-right: 3%;
}
.home-actions-button{
	display: block;
	float: left;
	margin-top: 250px;
	width: 5%;
}
.home-actions-right-button{
	float: right;
}
.home-text-and-img{
	margin: 25px;
	width: 550px;
}
.home-main-imgs{
	max-width: 450px;
	max-height: 450px;
	width: 450px;
	height: 450px;
	margin: 25px;
	border-radius: 7px;
	box-shadow: 0 0 10px #737373;
	border: 2px solid #737373;
}
.navbar-logo{
	max-height: 50px;
}
.order-h1{
	text-align: center;
	color: #fff;
	margin: 150px 0 40px 0;
}
.order-form, .success-form, .fail-form{
	background: rgba(65, 65, 65, 0.8) none repeat scroll 0 0;
	margin: auto;
	padding: 40px 0 20px 0;
	border-radius: 3px;
	border: 7px solid rgba(255, 255, 255, 0.58);
	box-shadow: 0 0 20px #fff; 
	max-width: 600px;
}
.prices{
	background: rgba(65, 65, 65, 0.72) none repeat scroll 0px 0px;
	border-radius: 8px;
	//border: 2px solid rgba(255, 255, 255, 0.58);
	//box-shadow: 0 0 20px #fff;
	padding: 20px 0 20px 40px;
	margin-right: 20px;
}
.order-form-element{
	max-width: 60%;
}
.order-form-text{
	color: #fff;
	font-size: 14pt;
}
.order-form-button{
	background: #2d3746;
	box-shadow: 0 0 20px #fff;
	color:  #fff;
	border: 2px solid rgba(255, 255, 255, 0.58);
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
.success-form, .fail-form{
	margin-top: 200px;
	font-size: 22pt;
	color: rgba(255, 255, 255, 0.71);
	padding: 40px 0 40px 0;
	text-align: center;
	
}
.success-form-text, .fail-form-text{
	text-align: center;
	color: #fff;
	font-size: 20pt;
}
.garant {
    list-style-image: url("/image/garant.png");
    margin-left: 5px;
}
.extra {
    list-style-image: url("/image/extra.png");
}
.color-main-h{
	color: #2D3746;
}
.price-text{
	color: #fff;
}
.price-btn{
	background: #2D3746 none repeat scroll 0% 0%;
	//box-shadow: 0px 0px 10px #FFF;
	color: #FFF;
	border: 1px solid rgba(46, 43, 68, 0.6);
	margin-top: 10px;
}
.price-mame{
	font-size: 16pt;
}
a{
	color: #fff;
}
.h-inside{
	color: #1C1D32;
	text-shadow: 0 0 20px #fff;
	font-weight: bold;
}
.margin-page-inside{
	margin-top: 30px;
}
.home-h-inside{
	color: #2D3746;
	font-size: 28pt;
}
.home-p-inside{
	font-size: 2em;
}

.home-main-content-visible {
	top: 0;
	opacity: 1;
}

.order_img {
	width: 256px;
	height: 256px;
}

.home-text-and-img h2 {
	font-weight: bold;
	margin-top: 0;
}

.home-text-and-img .home-p-inside {
	text-align: justify;
}

.section_element-left {
	float:left;
}

.section_element-right {
	float:right;
}